pip>=19.2.3
#bump2version>=0.5.11
wheel>=0.33.6
watchdog>=0.9.0
tox>=3.14.0
Sphinx>=7.2.6
sphinxcontrib-spelling>=8.0.0
pyenchant>=3.2.2
twine>=5.0.0
ruff>=0.3.5
pylint>=3.3.1
mypy>=1.13.0
black>=24.3
pre-commit>=4.0.1
setuptools>=70.0
setuptools_scm
zipp>=3.20
pytest>=6.2.4
urllib3>=2.2.2
requests=>2.32.3
coverage>=7.6.4
